* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

<<<<<<< HEAD
*::after,
*::before {
    margin:0;
    padding: 0;
=======
*::before {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
>>>>>>> bf94dd5511fca334bc26799b4bf0803c6283b286
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

footer {
<<<<<<< HEAD
    background: $accent;
=======
>>>>>>> bf94dd5511fca334bc26799b4bf0803c6283b286
    margin-top: 200px;
}