.benefits__container {
    height: 577px;
    margin-top: 200px;
    background: #2C343E;
    border-radius: 10px;
    position: relative;
}

.benefits__info {
    width: 540px;
    padding-top: 100px;
    margin: auto;
    text-align: center;
}

.benefits__info-title {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.benefits__info-description {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.benefits__list {
    position: absolute;
    bottom: -157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    // margin:0 auto;
    left: 85px;
    right: 85px;
    z-index: 2;
}

.benefits__list-item {
    width: 350px;
    text-align: center;
    background: #0E8784;
    border-radius: 8px;
    // position: absolute;
}

.benefits__list-item:first-child::before {
    @include benefits-img;
    background-image: url(../img/coffee.svg);
}

.benefits__list-item:nth-child(2)::before {
    @include benefits-img;
    background-image: url(../img/box.svg);
}

.benefits__list-item:last-child::before {
    @include benefits-img;
    background-image: url(../img/car.svg);
    height: 50px;
    margin: 83px 142px 67px 136px;
}

.item__title {
    font-family: 'Fraunces 9pt', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 24px;
    color: #FEFCF7;
}

.item__description {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    margin: 0 48px 48px 48px;
}

@media only screen and (max-width: $tablet) {
    .benefits__container {
        width: 689px;
        margin: 0 auto;
        padding: 0;
        padding: 0 15px;
        position: relative;
    }

    .benefits__info {
        display: block;
        margin: 0;
        width: 540px;
        margin: 68px auto 0 auto;
    }

    .benefits__info-title {
        display: block;
        @include fraunces (900, 32px, 48px, $light-color);
    }

    .benefits__info-description {
        display: block;
        @include barlow (400, 15px, 25px, $light-color);
        opacity: 0.8;
    }

    .benefits__list {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;
        bottom: -375px;
        left: 8.28%;
        right: 8.28%;
        width: 573px;
    }

    .benefits__list-item {
        display: flex;
        margin-bottom: 24px;
        width: 573px;
    }

    .benefits__list-item:first-child::before {
        @include benefits-tablet-img;
        background-image: url(../img/coffee-tablet.svg);
    }

    .benefits__list-item:nth-child(2)::before {
        @include benefits-tablet-img;
        background-image: url(../img/box-tablet.svg);
    }

    .benefits__list-item:last-child::before {
        @include benefits-tablet-img;
        background-image: url(../img/car-tablet.svg);
        background-repeat: no-repeat;
    }

    .benefits__list-item div {
        width: 344px;
        margin: 41px 0 41px 55px;
    }

    .item__title {
        display: block;
        @include fraunces (900, 24px, 32px, $light-color);
        margin: 0 auto 16px auto;
        text-align: left
    }

    .item__description {
        display: block;
        @include barlow (400, 15px, 25px, $light-color);
        text-align: left;
        width: 344px;
        margin: 0 auto;
    }

}

@media only screen and (max-width: $mobile) {
    .benefits__container {
        width: 327px;
        margin: 120px auto 0 auto;
        padding: 0 15px 982px 15px;
        position: relative;
    }

    .benefits__info {
        width: 279px;
        margin:0 auto;
    }

    .benefits__info-title {
        width: 279px;
        text-align: center;
    }

    .benefits__info-description {
        width: 279px;
        text-align: center;
    }

    .benefits__list {
        position: absolute;
        bottom: -597px;
        width: 279px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .benefits__list-item {
        width: 279px;
        display: flex;
        flex-direction: column;
    }

    .benefits__list-item:first-child::before {
        @include benefits-mobile-img;
        background-image: url(../img/coffee.svg);
    }

    .benefits__list-item:nth-child(2)::before {
        @include benefits-mobile-img;
        background-image: url(../img/box.svg);
    }

    .benefits__list-item:last-child::before {
        @include benefits-mobile-img;
        background-image: url(../img/car.svg);
        height: 50px;
    }

    .benefits__list-item div {
        width: 255px;
        margin: 0 auto 48px auto;
    }

    .item__title {
        @include fraunces (900, 24px, 32px, $light-color);
        text-align: center;
        width: 255px;
        margin: 0 auto 24px auto;
    }

    .item__description {
        @include barlow (400, 15px, 25px, $light-color);
        text-align: center;
        width: 212px;
        margin: 0 auto;
    }

}