.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.footer__container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1290px) {
    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border:1px solid blue;
    }

}

@media only screen and (max-width:1024px) {
    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border:1px solid red;
    }
}

@media only screen and (max-width:768px) {
    .container {
        width: 689px;
        margin-left: auto;
        margin-right: auto;
        border:1px solid rgb(0, 153, 255);
    }
}

// @media only screen and (max-width:375px) {
//     .container {
//         width: 327px;
//         margin-left:auto;
//         margin-right: auto;
//         border: 1px solid green;
//     }
// }

// about.html 

.commitment__container {
    width: 1110px;
    margin-left:auto;
    margin-right: auto;
}

.offices__container {
    width: 1045px;
    margin: 168px auto 167px auto;
}

.order-step {
    width: 1280px;
    margin:0 auto;
}

.order-step__container {
    width: 1045px;
    margin:0 auto;
}