.container {
    width: 1280px;
    margin: 0 auto;
}

.collection__container {
    width: 1111px;
    margin:0 auto;
}

.workstep__container {
    width: 1111px;
    // margin-left: 165px;
    // margin-right: 230px;
    margin:0 auto;
}

.footer {
    width: 1280px;
    margin:0 auto 88px auto;
}

.footer__container {
    width: 1111px;
 
 
    margin: 0 auto;
}

// about.html 

.commitment__container {
    width: 1110px;
    margin-left:auto;
    margin-right: auto;
}

.offices__container {
    width: 1045px;
    margin: 168px auto 167px auto;
}