.footer {
    margin-top: 200px;
    margin-bottom: 88px;
}

.footer__container {
    background-color: $accent;
    // padding-top: 47px;
    // padding-bottom: 47px;
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 47px;
    padding-bottom: 47px;
}

.footer__logo {
    margin-right: 102px;
}

.footer__list {
    display: flex;
    min-width: 280px;
    justify-content: space-between;
    margin-right: 369px;
}

.footer__list-item a {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888F;
}

.footer--active {
    border-bottom: 2.2px solid #83888F;
    border-top: 2.2px solid #83888F;
}

.subscribe-item {
    margin-right: 25px;

    &:last-child {
        margin-right: 0;
    }
}

.footer__social-list {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
}