.footer {
    margin-top: 200px;
    margin-bottom: 88px;
}

.footer__container {
    background-color: $accent;
    // padding-top: 47px;
    // padding-bottom: 47px;
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 47px;
    padding-bottom: 47px;
}

.footer__logo {
    margin-right: 102px;
}

.footer__list {
    display: flex;
    min-width: 280px;
    justify-content: space-between;
    margin-right: 369px;
}

.footer__list-item a {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888F;
}

// .footer--active {
//     border-bottom: 2.2px solid #83888F;
//     border-top: 2.2px solid #83888F;
// }

.footer--active a {
    color: #FEFCF7;
}

.footer__list-item a:hover {
    color: #FEFCF7;
}

.subscribe-item {
    margin-right: 25px;

    &:last-child {
        margin-right: 0;
    }
}

.footer__social-list {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
}





.footer__social-item:first-child::before{
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/facebook.svg);
    background-repeat: no-repeat;
    content: '';
}


.footer__social-item:first-child:hover::before {
    border: 1px solid red;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/facebook-hover.svg);
    background-repeat: no-repeat;
    content: '';
}

.footer__social-item:nth-child(2):before{
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/twitter.svg);
    background-repeat: no-repeat;
    content: '';
}


.footer__social-item:nth-child(2):hover::before {
    border: 1px solid red;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/twitter-hover.svg);
    background-repeat: no-repeat;
    content: '';
}

.footer__social-item:nth-child(3):before{
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/instagram.svg);
    background-repeat: no-repeat;
    content: '';
}


.footer__social-item:nth-child(3):hover::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/instagram-hover.svg);
    background-repeat: no-repeat;
    content: '';

    &
}