.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__list-item {
    margin-left: 33px;

    & :first-child {
        margin-left: 0;
    }
}

@media only screen and(max-width:1290px) {
    .logo {
        display: inline-block;
        width: 226px;
        height: 24px;
    }

    .navbar__list-item a {
        display: inline-block;
        font-size: 10px;
        line-height: 13px;
    }
}

@media only screen and (max-width:1100px) {
    .logo {
        display: inline-block;
        width: 218px;
        height: 22px;
    }

    .navbar__list-item a {
        display: inline-block;
        font-size: 9px;
        line-height: 12.5px;
    }
}

@media only screen and ( max-width:768px) {
    .logo {
        display: inline-block;
        width:210px;
        height: 21px;
    }
}
