.header {
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__list-item {
  margin-left: 33px;

  & :first-child {
    margin-left: 0;
  }
}

.header__burger {
  display: none;
  border:none;
  background-color: #fff;
  padding: 8px 6px;
  width: 32px;
  height: 32px;
  border-radius: 6px;

  &::before,
  &::after,
  &-inner {
    width: 100%;
    height: 2px;
    background-color: #000;
    display: block;
    margin-bottom: 3px;
    transition: 0.2s ease all;
    content: '';
    border-radius: 6px;
  }

  &::after {
    margin-bottom: 0;
    height: 1.9px;
  }
}

.header__burger--opened {
  position: relative;

  & .header__burger-inner {
    display: none;
  }

  &::before,
  &::after {
    width: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
    height: 2px;
  }

  &::before {
    margin-bottom: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media only screen and (max-width: 1310px) {
  .header__container {
    max-width: 99%;
    margin: 44px auto 54px auto;

  }
}

@media only screen and (max-width: 1024px) {
  .header__container {
    max-width: 96%;
    margin: 44px auto 54px auto;
    padding: 0 15px;
  }
}

@media only screen and (max-width: $mobile) {
  .header__container {
    max-width: $mobile;
    width: 96%;
    padding: 0 15px;
  }

  .header__burger {
    display: block;
  }

  .header__navbar {
    margin-top: 30px;
    display: none;
    height: 560px;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    width: 100%;
    padding: 40px 24px;
    position: absolute;
    left: 0;
    top: 100%;
    flex-direction: column;
    align-items: stretch;
    z-index: 2;
  }

  .navbar__list {
    display: block;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .navbar__list-item {
    margin-bottom: 32px;
    margin-right: 0;

    & a {
      display: block;
      @include fraunces(900, 24px, 32px, #333D4B);
      text-align: center;
    }
  }

  .navbar__list-item a:hover {
    display: block;
    color: #83888F;
  }

  .header__navbar--opened {
    display: flex;
  }

}

@media only screen and (max-width:400px) {
  .header__container {
    min-width: 390px;
    margin: 32px auto 41px auto;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 162px;
    height: 17px;
  }
}