.intro {
    margin-top: 45px;
}

.intro__container {
    background-image: url(../img/intro-bg.jpg);
    background-color: black;
    height: 600px;
    position: relative;
    border-radius:16px;
}

.intro__content {
    position:absolute;
    width: 493px;
    top: 117px;
    left: 85px;
    bottom: 116px;
}

.intro__content-title {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.intro__content-description {
    margin-bottom: 56px;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgb(254, 252, 247);
    opacity: 0.8;
}

@media only screen and (max-width: $tablet) {
    .intro {
        max-width: 99%;
        margin: 0 auto;
    }

    .intro__content {
        width: 50.63%
    }

    .intro__content-title {
        @include fraunces(900, 58px, 58px, #FEFCF7);
    }
}

@media only screen and (max-width: $mobile) {
    .intro {
        max-width: 689px;
        margin: 0 auto;
        padding:0 15px;
    }

    .intro__container {
        background: url(../../img/intro-bg-tablet.jpg);
        background-repeat: no-repeat;
    }

    .intro__content {
        width: 329px;
    }

    .intro__content-title {
        @include fraunces(900, 48px, 48px, #FEFCF7);
    }

    .intro__content-description {
        @include barlow(400, 15px, 25px, #FEFCF7);
    }
}
