.nav-item a {
    font-family: 'Barlow' , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888F;
}

<<<<<<< HEAD
.nav-item--active {
    border-bottom: 2.2px solid #83888F;
=======
.nav-item--active a {
    color: #333D4B;
}

.nav-item a:hover {
    color: #333D4B;
>>>>>>> bf94dd5511fca334bc26799b4bf0803c6283b286
}