.subscribe-intro {
    margin-top: 45px;
}

.subscribe-intro__container {
    width: 1280px;
    height: 450px;
    background-image: url(../img/subscribe-intro.png);
}

.intro__caption {
    width: 445px;
    padding: 137px 0 137px 85px;
}

.intro__caption-title {
    @include fraunces (bold, 40px, 48px, #FEFCF7);
    margin-bottom: 24px;
}

.intro__caption-description {
    @include barlow (normal, 16px, 26px, #FEFCF7)
}