.workstep {
    margin-top: 351px;
}

.workstep__container {
    display: flex;
    justify-content: center;
}

.workstep__title {
    font-family: 'Fraunces 9pt', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 80px;
}


.workstep__work-list {
    display: flex;
    width: 1045px;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::before {
        position: absolute;
        display: block;
        border-bottom: 1px solid #FDD6BA;
        width: 770px;
        top: 17px;
        content: '';
    }
}

.work__list-item {
    width: 285px;
    position: relative;

    &::before {
        display: flex;
        align-items: flex-start;
        width: 31px;
        height: 31px;
        border: 2px solid #0E8784;
        border-radius: 50%;
        background: #FEFCF7;
        content: '';
        margin-bottom: 82px;
    }
}

.work__item-number {
    font-family: 'Fraunces 9pt', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.work__item-title {
    width: 255px;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight:900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-top: 38px;
    margin-bottom: 42px;
}

.work__item-description {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.workstep__button {
    margin-top: 79px;
}

@media only screen and (max-width: $tablet) {
    .workstep__container {
        display: none;
    }
}